html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.8rem;
    background-color: aquamarine;
}

nav {
    background-color: darkcyan;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > ul > li > a {
    display: block;
    padding: 1.5rem;
    color: cornsilk;
    text-decoration-line: none;
}

nav > ul > li > a:hover {
    background-color: teal;
}

main {
    height: 100%;
    padding: 2rem;
    background-color: cadetblue;
}

section.main {
    margin: 0 0 1rem 0;
    border-radius: 0.4rem;
    padding: 1.7rem;
    background-color: rgba(256,256,256,0.7);
    box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.3);
}

img {
    /* TEMPORARY */
    border: 1px solid rgb(165, 165, 165);
}

h1 {
    margin: 0.5rem 0 1rem;
}

section.main > h1 {
    text-align: center;
}

p {
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
}

a {
    color: #6c7200;
}

p > a:hover {
    text-shadow: 1px 1px whitesmoke;
}

footer {
    padding: 2rem;
    background-color: darkcyan;
    color: cornsilk;
}

.quicklinks {
    display: flex;
    justify-content: flex-start;
}

.quicklinks > dl {
    padding: 0 2rem 2rem 0;
}

.quicklinks > dl > dt {
    color: white;
    font-weight: bold;
}

.quicklinks > dl > dd > a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 1.5;
    color: cornsilk;
    text-decoration-line: none;
}

.quicklinks > dl > dd:hover {
    text-decoration-line: underline;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
}

li.product-result {
    width: 100%;
    max-width: 25rem;
    margin: 1rem;
    border-left: 2px solid rgb(0, 85, 85);
    border-right: 2px solid rgb(0, 85, 85);
    border-radius: 0.6rem;
    padding: 0.8rem;
    display: flex;
    background-color: rgba(256,256,256,0.5);
}

li.product-result:hover {
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 2px 0 black, -2px 0 black;
}

.product-result img.product {
    width: 6rem;
    height: 6rem;
}

.product-result img, .product-result span {
    display: block;
}

.searched-product-clarification {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.query-display {
    display: flex;
    justify-content: center;
    align-content: center;
}

.result-type {
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.result-type > span {
    margin: auto;
}

.searched-platform {
    width: fit-content;
    height: auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: rgba(256,256,256,0.5);
}

.searched-platform img {
    width: auto;
    height: 100%;
    min-width: 3rem;
    min-height: 3rem;
    margin: auto;
}

.searched-platform-details {
    margin: auto;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
}

.searched-platform-details > span {
    margin: 0.1rem 0;
    font-size: 0.9rem;
}

.searched-specific-platform {
    width: fit-content;
    height: auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: rgba(256,256,256,0.5);
}

.searched-platform-details-name {
    font-weight: 600;
}

.change-query-offer {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: 0.85rem;
    color: white;
}
