html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.8rem;
    background-color: aquamarine;
}

nav {
    background-color: darkcyan;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > ul > li > a {
    display: block;
    padding: 1.5rem;
    color: cornsilk;
    text-decoration-line: none;
}

nav > ul > li > a:hover {
    background-color: teal;
}

main {
    height: 100%;
    padding: 2rem;
    background-color: cadetblue;
}

section.main {
    margin: 0 0 1rem 0;
    border-radius: 0.4rem;
    padding: 1.7rem;
    background-color: rgba(256,256,256,0.7);
    box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.3);
}

img {
    /* TEMPORARY */
    border: 1px solid rgb(165, 165, 165);
}

h1 {
    margin: 0.5rem 0 1rem;
}

section.main > h1 {
    text-align: center;
}

p {
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
}

a {
    color: #6c7200;
}

/* a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
} */

p > a:hover {
    text-shadow: 1px 1px whitesmoke;
}

footer {
    padding: 2rem;
    background-color: darkcyan;
    color: cornsilk;
}

.quicklinks {
    display: flex;
    justify-content: flex-start;
}

.quicklinks > dl {
    padding: 0 2rem 2rem 0;
}

.quicklinks > dl > dt {
    color: white;
    font-weight: bold;
}

.quicklinks > dl > dd > a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 1.5;
    color: cornsilk;
    text-decoration-line: none;
}

.quicklinks > dl > dd:hover {
    text-decoration-line: underline;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li.product-result {
    width: 100%;
    max-width: 25rem;
    margin: 1rem;
    border-left: 2px solid rgb(0, 85, 85);
    border-right: 2px solid rgb(0, 85, 85);
    border-radius: 0.6rem;
    padding: 0.8rem;
    background-color: rgba(256,256,256,0.5);
}

li.product-result > a {
    display: flex;
    color: black;
    text-decoration-line: none;
}

li.product-result > a:hover {
    text-shadow: 1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), -2px -2px rgb(255, 255, 255), 2px 2px rgb(255, 255, 255);
}

li.product-result:hover {
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 2px 0 black, -2px 0 black;
}

.product-result img.product {
    width: 100%;
    max-width: 5rem;
    min-width: 3rem;
    height: auto;
    min-height:3rem;
    margin: auto;
}

.product-image {
    margin: auto 0;
}

.product-result img, .product-result span {
    display: block;
}

.platform-result-details {
    padding: 1rem;
}

.platform-result-details > span {
    margin: 0 0 0.3rem;
}

.platform-result-name {
    font-size: 1.3rem;
}

.searched-product-clarification {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.query-display {
    display: flex;
    justify-content: center;
    align-content: center;
}

.result-type {
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.result-type > span {
    margin: auto;
}

.searched-platform {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: rgba(256,256,256,0.5);
}

.searched-platform img {
    width: 40%;
    max-width: 4rem;
    height: auto;
    min-width: 3rem;
    min-height: 3rem;
    margin: auto;
}

.searched-platform-details {
    margin: auto;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
}

.searched-platform-details > span {
    margin: 0.1rem 0;
    display: block;
    font-size: 0.9rem;
}

.searched-specific-platform {
    width: fit-content;
    height: auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.3rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: rgba(256,256,256,0.5);
}

.searched-platform-details-name {
    font-weight: 600;
}

.change-query-offer {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.listing {
    margin: 2rem 5px;
    display: flex;
    background-color: rgba(256,256,256,0.3);
}

.listing:hover {
    box-shadow: -8px 0 rgb(0, 85, 85);
}

.listing-img {
    width: 8rem;
    display: flex;
    flex-direction: column;
}

.listing-img-main img {
    width: 8rem;
}

.listing-img-additional {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.listing-img-additional img {
    width: 25%;
}

.listing-img-additional img:hover {
    border: 2px solid gold;
}

.listing-details {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr 1fr auto;
    grid-template-areas:
        "title title"
        "body body"
        "price price"
        "go go"
        "date source";
}

.listing-title {
    grid-area: title;
    font-size: 1.3rem;
}

.listing-price {
    grid-area: price;
    margin: auto 0;
}

.listing-body {
    grid-area: body;
}

.listing-go {
    grid-area: go;
}

.listing-go button {
    border-color: rgb(0, 167, 167);
    color: cornsilk;
    background-color: rgb(29, 37, 37);
}

.listing-go button:hover {
    background-color: rgb(26, 58, 58);
}

.listing-date {
    grid-area: date;
}

.listing-source {
    grid-area: source;
}

.copyright {
    font-size: 0.85rem;
    color: white;
}
